@use "../abstracts";

.auth {
    display: flex;
    min-height: 100vh;
    background: #fafafd;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        @include abstracts.screen(md) {
            &-logo,
            &-next {
                position: absolute;
                left: 50%;
                transform: translate(-50%);
            }

            &-logo {
                top: 80px;
            }

            &-next {
                align-items: center;
                bottom: 50px;
                gap: 13px;
            }

            &-dot {
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #ededf6;

                &--active {
                    background: #b9babe;
                }
            }
        }

        &-img {
            max-width: 100%;
        }

        &-text {
            max-width: 412px;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.5rem;
            }
        }
    }

    &__content {
        text-align: center;
        background: #fff;

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            overflow-y: auto;
            transition: transform 0.3s;

            &.hide {
                transform: translate(100%);
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 50px auto;
            width: min(460px, 100%);
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 2.2rem;
        }
    }

    &__desc {
        margin-top: 10px;
        padding: 0 20px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__form {
        margin-top: 40px;
        width: 100%;

        @include abstracts.screen(md) {
            margin-top: 0;
        }
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &:hover {
            opacity: 0.9;
        }
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
    }

    &__btn {
        height: 50px;
        border-radius: 10px;
        font-size: 1.8rem;
    }

    &__text {
        margin-top: 108px;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;

        &-link {
            font-size: inherit;
        }
    }
}
