.auth {
    display: flex;
    min-height: 100vh;
    text-align: center;
    background: #fafafd;

    &__intro,
    &__content,
    &__content-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__intro {
        flex: 1;
        gap: 50px;

        &-img {
            max-width: 100%;
        }

        &-text {
            max-width: 412px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }

    &__content {
        flex: 1;
        background: #fff;

        &-inner {
            margin: 50px auto;
            width: min(460px, 100%);
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__desc {
        margin-top: 10px;
        padding: 0 30px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__form {
        margin-top: 30px;
        width: 100%;
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &:hover {
            opacity: 0.9;
        }
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }

    &__btn {
        height: 50px;
        font-size: 1.8rem;
        color: #1a162e;
    }

    &__text {
        margin-top: 108px;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;

        &-link {
            font-size: inherit;
        }
    }
}
