@use "../abstracts";

.home {
    &__container {
        margin-top: 40px;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }

    &__heading {
        margin-bottom: 20px;
    }

    &__cate {
        --grid-gutter-x: 51px;

        @include abstracts.screen(xl) {
            --grid-gutter-x: 24px;
        }

        @include abstracts.screen(md) {
            --grid-gutter-y: 20px;
        }
    }
}
