@use "../abstracts";

.home {
    margin-bottom: 50px;

    &__container {
        margin-top: 40px;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }

    &__heading {
        margin-bottom: 20px;
    }

    &__cate {
        --grid-gutter-x: 51px;

        @include abstracts.screen(xl) {
            --grid-gutter-x: 24px;
        }

        @include abstracts.screen(md) {
            --grid-gutter-y: 20px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}
