@use "../abstracts";

.product {
    &-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: var(--product-detail-bg);
    }

    &-container {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }
}

.prod-review {
    &__list {
        display: flex;
        overflow: hidden;
        padding: 0 30px;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 92%;
        flex-shrink: 0;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.prod-thumbs {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;

    &__img {
        width: 65px;
        height: 65px;
        object-fit: contain;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
        cursor: pointer;
        transition: border-color 0.3s;

        &:hover,
        &--active {
            border-color: #ffb700;
        }
    }
}

.prod-info {
    padding: 60px;
    background: #f6f6f6;

    &__heading {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 138.462%;
    }
}

.prod-prop {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 30px;

    &__icon {
        align-self: flex-start;
    }

    &__title {
        color: #000;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
}
