@use "../abstracts";

.product {
    &-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-bottom: 50px;
        background: var(--product-detail-bg);
    }

    &-container {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }
}

.prod-info-container {
    @include abstracts.screen(md) {
        border-radius: 20px;
        background: var(--prod-info-container-bg);
        box-shadow: 0 20px 60px 10px var(--prod-info-container-shadow);
    }
}

.prod-review {
    @include abstracts.screen(lg) {
        display: flex;
        flex-direction: row-reverse;
    }

    @include abstracts.screen(md) {
        flex-direction: column;
    }

    &__list {
        display: flex;
        overflow: hidden;
        padding: 0 30px;

        @include abstracts.screen(lg) {
            flex: 1;
        }

        @include abstracts.screen(md) {
            padding: 16px;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 92%;
        flex-shrink: 0;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.prod-thumbs {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;

    @include abstracts.screen(lg) {
        flex-direction: column;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
        margin-bottom: 0;
    }

    &__img {
        width: 65px;
        height: 65px;
        object-fit: contain;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
        cursor: pointer;
        transition: border-color 0.3s;

        &:hover,
        &--active {
            border-color: #ffb700;
        }
    }
}

.prod-info {
    padding: 60px;
    background: var(--prod-info-bg);

    @include abstracts.screen(xxl) {
        padding: 40px;
    }

    @include abstracts.screen(md) {
        padding: 16px;
        border-radius: 0 0 20px 20px;
    }

    &__label {
        margin-top: 30px;
    }

    &__heading {
        color: var(--prod-info-heading-color);
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 138.462%;

        @include abstracts.screen(md) {
            font-weight: 700;
            line-height: 144.444%;
        }
    }

    &__card {
        margin-top: 30px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #b9babe;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__price {
        color: var(--prod-info-price);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__tax {
        margin-left: 10px;
        padding: 2px 8px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        color: #67b044;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), #67b044;
    }

    &__total-price {
        margin: 20px 0;
        color: var(--prod-info-price);
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 138.462%;
    }

    &__add-to-cart {
        width: 100%;
        font-size: 1.8rem;
    }

    &__like-btn {
        margin-left: 20px;
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        background: transparent;
    }
}

.prod-props {
    padding-left: 30px;

    @include abstracts.screen(xxl) {
        padding-left: 10px;
    }

    @include abstracts.screen(xl) {
        padding-left: 0;
    }
}

.prod-prop {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 30px;

    &__icon {
        align-self: flex-start;
    }

    &__title {
        color: var(--prod-prop-title-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }

    &__tag {
        background: var(--prod-prop-tag-bg);
    }
}
