@use "../abstracts";

.footer {
    padding: 50px 0;
    background: var(--footer-bg-color);
    font-size: 1.4rem;
    line-height: 1.4;

    &__row {
        display: grid;
        grid-template-columns: 1fr 0.4fr 0.4fr 0.4fr;
        gap: 80px;

        @include abstracts.screen(xl) {
            gap: 30px;
        }

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__heading {
        margin-bottom: 20px;
        font-size: 1.8rem;
        font-weight: 500;
    }

    &__desc {
        width: 80%;
        line-height: 1.6;

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }

    &__list {
        margin-top: -7px;
    }

    &__link {
        display: block;
        padding: 7px 0;

        &:hover {
            color: #0071dc;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        @include abstracts.screen(sm) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 20px;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        border-radius: 6px;
        background: #000;
        transition: transform 0.25s;

        @include abstracts.screen(sm) {
            width: 42px;
            height: 42px;
        }

        &:hover {
            transform: translateY(-4px);
        }

        &--facebook {
            background: #3f51b5;
        }

        &--youtube {
            background: #f44336;
        }

        &--tiktok {
            background: #212121;
        }

        &--twitter-x {
            background: #212121;
        }

        &--linkedin {
            background: #0288d1;
        }
    }

    &__social-icon {
        width: 20px;
        filter: brightness(0) saturate(100%) invert(90%) sepia(70%) saturate(2%) hue-rotate(337deg) brightness(108%)
            contrast(101%);
    }

    &__form {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 20px;

        @include abstracts.screen(lg) {
            width: 50%;
        }

        @include abstracts.screen(sm) {
            width: 100%;
        }

        &-input,
        &-submit {
            height: 42px;
            padding: 0 16px;
            border-radius: 6px;
        }

        &-input {
            width: 100%;
            height: 42px;
            padding: 0 16px;
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--footer-form-input-color);
            background: #fff;

            @include abstracts.screen(sm) {
                font-size: 1.6rem;
            }

            &::placeholder {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }

        &-submit {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: capitalize;
            background: #ffb700;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}
