@use "../abstracts";

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 16px;
    padding: 20px;
    border-radius: 10px;
    background: var(--breadcrumb-bg);
    box-shadow: 0 20px 60px 10px var(--breadcrumb-shadow);

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 10px;
        color: #9e9da8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;

        &--current {
            color: inherit;
        }

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }
}
