// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;

    height: 36px;
    padding: 0 14px;
    border-radius: 6px;

    color: var(--filter-btn-color);
    background: var(--filter-btn-bg-color);

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;
}

// Like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: var(--like-btn-bg-color);
    box-shadow: 0 20px 60px var(--like-btn-shadow-color);

    &:not(&--liked) &__icon--active,
    &--liked &__icon {
        display: none;
    }

    &__icon--active {
        margin-top: 8px;
    }
}

// Buttons
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 98px;
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;

    color: var(--btn-color);
    background: var(--btn-bg-color);

    font-size: 1.5rem;
    font-weight: 500;
    user-select: none;

    + .btn {
        margin-left: 20px;

        &.btn--no-margin-left {
            margin-left: 0;
        }
    }

    &--text {
        background: transparent;
        font-weight: 400;
    }

    &--primary {
        color: #1a162e;
        background: #ffb700;
    }

    &--outline {
        border: 1px solid #d2d1d6;
        background: transparent;
    }

    &--rounded {
        border-radius: 99px;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }

    &__icon {
        margin-right: 10px;
    }
}
