.dropdown {
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    padding-top: 54px;
    // opacity: 0;
    // visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.25s;

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            content: url("../icons/dropdown-arrow.svg");
            transform: translateX(-50%);
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    position: relative;

    &__main {
        width: 292px;
        max-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 14px;
    border-right: 1px solid var(--menu-column-border-color);

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    &__icon-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        height: 24px;
        object-fit: cover;
        filter: var(--menu-column-icon-color);
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin-top: 6px;
        color: var(--menu-column-heading-color);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px;
    }

    &__link {
        display: block;
        padding: 7px 0;
        color: var(--menu-column-link-color);
        font-size: 1.4rem;
        line-height: 142.857%;

        &:hover {
            color: #0071dc;
            font-weight: 500;
        }
    }
}
