@use "../abstracts";
$error-color: #ff2c2c;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__input-text {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__input-icon {
            display: none;
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }
    }

    &__input-text {
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid var(--form-input-border-color);

        @include abstracts.screen(md) {
            height: 48px;
        }

        &:focus-within {
            border-color: #0071dc;
        }
    }

    &__input {
        flex: 1;
        width: 100%;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &::placeholder {
            color: #d2d1d6;
        }

        &-icon,
        &-icon-error {
            margin-left: 12px;
            width: 24px;
        }

        &-icon-error {
            display: none;
            animation: shake 0.3s;
        }
    }

    &__error {
        display: none;
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: left;
        color: $error-color;
    }

    &__checkbox {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 6px;
            border: 1px solid #9e9da8;
        }

        &:has(:checked) {
            &::before {
                border-color: #ffb700;
                background: #ffb700;
            }

            &::after {
                top: 3px;
                left: 2px;
                width: 14px;
                height: 8px;
                rotate: -45deg;
                border: 3px solid;
                border-color: transparent transparent #fff #fff;
            }
        }

        &-label {
            margin-left: 26px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            color: #9e9da8;
            user-select: none;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }

    &__pull-right {
        margin-left: auto;
    }
}
