.form {
    &__group {
        margin-top: 20px;

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__input-text {
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;

        &:focus-within {
            border-color: #0071dc;
        }
    }

    &__input {
        flex: 1;
        width: 100%;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &::placeholder {
            color: #d2d1d6;
        }

        &-icon {
            margin-left: 12px;
        }
    }

    &__checkbox {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 6px;
            border: 1px solid #9e9da8;
        }

        &:has(:checked) {
            &::before {
                border-color: #ffb700;
                background: #ffb700;
            }

            &::after {
                top: 3px;
                left: 2px;
                width: 14px;
                height: 8px;
                rotate: -45deg;
                border: 3px solid;
                border-color: transparent transparent #fff #fff;
            }
        }

        &-label {
            margin-left: 26px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            color: #9e9da8;
            user-select: none;
        }
    }

    &__pull-right {
        margin-left: auto;
    }
}
