@use "../abstracts";

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);

    &__title {
        margin-left: 14px;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
    }
}
