.message {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    background: #fafafa;

    &--success {
        color: #fff;
        background: #71be34;
        border-color: #71be34;
    }
}
