.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    border-radius: 20px;
    background: var(--product-card-bg-color);
    box-shadow: 0 20px 60px 10px var(--product-card-shadow-color);

    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__like-btn {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__title {
        margin: 16px 0;
    }

    &__title,
    &__price,
    &__rate {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__brand {
        margin: auto 0 16px 0;
        color: #9e9da8;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__rate {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}
