.review-card {
    padding: 30px;
    border-radius: 16px;
    background: #fafafd;

    &__row {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    &__name {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__quote {
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
    }

    &__footer {
        margin-top: 20px;
    }

    &__score {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
}
