@use "../abstracts";

.tab {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -30px;
    }

    &__item {
        padding: 8px 30px;
        color: #9e9da8;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }

        &--active {
            color: inherit;
        }
    }

    &__contents {
        margin-top: 30px;
    }

    &__content {
        display: none;

        &--active {
            display: block;
        }
    }

    &__heading {
        margin-bottom: 30px;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
    }
}
