.tab {
    &__list {
        display: flex;
        align-items: center;
        margin: 0 -30px;
    }

    &__item {
        padding: 0 30px;
        color: #9e9da8;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        cursor: pointer;
        user-select: none;

        &--active {
            color: inherit;
        }
    }

    &__contents {
        margin-top: 30px;
    }

    &__content {
        display: none;

        &--active {
            display: block;
        }
    }

    &__heading {
        margin-bottom: 30px;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
    }
}
