.text-content {
    font-size: 1.6rem;
    line-height: 1.6;

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    table,
    blockquote {
        margin: 20px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h6 {
        font-size: 1.6rem;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }

    img + em {
        display: block;
        font-style: italic;
        text-align: center;
    }

    ul,
    ol {
        list-style-type: initial;
        padding-left: 20px;
    }

    blockquote {
        padding: 20px;
        border-left: 3px solid #ffb700;
        background: rgba(255, 183, 0, 0.1);

        p {
            margin: 0;
        }
    }
}
