html.dark {
    --body-bg-color: #292e39;
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(294deg) brightness(111%)
        contrast(101%);

    --header-bg-color: #171c28;
    --header-shadow: rgba(0, 0, 0, 0.2);
    --top-act-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);

    // Dropdown
    --dropdown-bg-color: #333946;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(9%) saturate(1376%) hue-rotate(183deg)
        brightness(91%) contrast(85%);

    --menu-column-border-color: #171c28;
    --menu-column-heading-color: #b9babe;
    --menu-column-link-color: #b9babe;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(95%) sepia(8%) saturate(1355%) hue-rotate(211deg)
        brightness(110%) contrast(95%);

    // Navbar
    --navbar-bg-color: #292e39;
    --navbar-shadow-color: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg-color: #171c28;
    --cate-item-thumb-bg-color: #292e39;
    --cate-item-title-color: #fff;

    // Buttons
    --filter-btn-color: #fff;
    --filter-btn-bg-color: #171c28;

    --like-btn-bg-color: #292e39;
    --like-btn-shadow-color: rgba(124, 124, 124, 0.2);

    --btn-color: #9e9da8;
    --btn-bg-color: #171c28;
    --btn-outline-border-color: #b9babe;

    // Product card
    --product-card-bg-color: #171c28;
    --product-card-shadow-color: rgba(0, 0, 0, 0.2);

    // Filter form
    --filter-form-bg-color: #292e39;
    --filter-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(38%) saturate(386%) hue-rotate(182deg)
        brightness(87%) contrast(86%);
    --filter-form-shadow-color: rgba(0, 0, 0, 0.4);
    --filter-form-tag-color: #171c28;

    // Footer
    --footer-bg-color: #171c28;
    --footer-form-input-color: #1a162e;

    // Auth
    --auth-bg: #171c28;
    --auth-intro-text: #b9babe;
    --auth-content-bg: #292e39;
    --auth-heading-color: #b9babe;
    --auth-intro-text-color: #b9babe;

    // Forms
    --form-input-border-color: #b9babe;

    // Product detail
    --product-detail-bg: #292e39;
    --prod-info-container-bg: #171c28;
    --prod-info-container-shadow: rgba(23, 28, 40, 0.2);
    --prod-info-bg: #171c28;
    --prod-prop-tag-bg: #292e39;
    --prod-info-heading-color: #eee;
    --prod-prop-title-color: #eee;
    --prod-info-price: #eee;

    // Breadcrumbs
    --breadcrumb-bg: #171c28;
    --breadcrumb-shadow: rgba(23, 28, 40, 0.2);

    // Search bar
    --search-bar-bg: #171c28;

    // Review card
    --review-card-bg: #171c28;
}
