@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: var(--text-color);
    background: var(--body-bg-color);
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Gordita", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select,
option {
    margin: 0;
    padding: 0;
    color: inherit;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

button {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    background: inherit;
    user-select: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.icon {
    display: block;
    filter: var(--icon-color);
}

.section-heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;

    @include abstracts.screen(lg) {
        font-size: 2.2rem;
        line-height: 145.455%;
    }
}

@include abstracts.screen(sm) {
    .container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
