*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select,
option {
    font-family: inherit;
}

button {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    background: inherit;
    user-select: none;
    cursor: pointer;
}

.icon {
    display: block;
    filter: var(--icon-color);
}
