<div class="container">
    <div class="footer__row">
        <div class="footer__col">
            <h3 class="footer__heading">Get notified by email</h3>
            <p class="footer__desc">How else can we tell you about monthly offers and special discounts?</p>
            <form action class="footer__form">
                <input type="email" class="footer__form-input" placeholder="Enter your email address" />
                <button class="footer__form-submit">Send now</button>
            </form>
        </div>
        <div class="footer__col">
            <h3 class="footer__heading">Categories</h3>
            <ul class="footer__list">
                <li><a href="#!" class="footer__link">Departments</a></li>
                <li><a href="#!" class="footer__link">Grocery</a></li>
                <li><a href="#!" class="footer__link">Beauty</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 class="footer__heading">Helpful links</h3>
            <ul class="footer__list">
                <li><a href="#!" class="footer__link">FAQs</a></li>
                <li><a href="#!" class="footer__link">Common issues</a></li>
                <li><a href="#!" class="footer__link">Shipping</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 class="footer__heading">Compliance</h3>
            <ul class="footer__list">
                <li><a href="#!" class="footer__link">Accessibility Statement</a></li>
                <li><a href="#!" class="footer__link">Privacy Policy</a></li>
                <li><a href="#!" class="footer__link">Terms of Use</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
        <ul class="footer__socials">
            <li>
                <a href="#!" class="footer__social-link footer__social-link--facebook">
                    <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
                </a>
            </li>
            <li>
                <a href="#!" class="footer__social-link footer__social-link--youtube">
                    <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
                </a>
            </li>
            <li>
                <a href="#!" class="footer__social-link footer__social-link--tiktok">
                    <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
                </a>
            </li>
            <li>
                <a href="#!" class="footer__social-link footer__social-link--twitter-x">
                    <img src="./assets/icons/twitter-x.svg" alt="" class="footer__social-icon" />
                </a>
            </li>
            <li>
                <a href="#!" class="footer__social-link footer__social-link--linkedin">
                    <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
                </a>
            </li>
        </ul>
    </div>
</div>
